.login-page{
    background: $yellow;
    color: $black;
    justify-content: space-evenly;
    @include pad{
        flex-direction: column;
        justify-content: center;
    }
}

.login-header{
    text-align: center;
    h1{
        padding-bottom: 1em;
        @include mobile{
            padding-bottom: 1.5em;
        }
    }
    img{
        width: 30em;
    }
    .main-img{
        width: 38em;
        @include pad{
            display: none;
        }
    }
}

.login-form,.register-form{
    h2{
        font-size: 2.4em;
        font-weight: 700;
        padding-bottom: 1.5em;
        @include mobile{
            text-align: center;
            font-size: 2em;
        }
    }
    @include mobile{
        width: 80%;
    }

}
.register-form{
    h2{
        padding-right: 8em;
        @include mobile{
            padding: 0 0 0.8em 0;
            text-align: center;
        }
    }

}

.login-info,.register-info{
    font-size: 1.4em;
    font-weight: 700;
    li{
        padding-bottom: 2em;
    }
    p{
        padding-bottom: 0.5em;
    }
    input{
        width: 100%;
        padding: 1em;
        border-radius: 0.8em;
        outline: none;
        border: none;
    }
}

.register-info{
    input{
        width: 100%;
    }
}

.action-buttons{
    text-align: center;
    .login-btn,.register-btn{
        font-size: 1em;
        font-weight: 700;
        width: 40%;
        background-color: $black;
        color: #fff;
        cursor: pointer;
        &:hover{
            background-color: #222;
            font-weight: 900;
            transition: 0.2s;
        }
    }
    .register-btn{
        width: 50%;
    }
    a{
        font-size: 1.1em;
        text-decoration: none;
        color: $black;
        &:hover{
            font-weight: 900;
            transition: 0.2s;
        }
    }
}

.error-message{
    color: $red;
}

