@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 10px;
  max-width: 1028px;
  height: 100vh;
  margin: 0 auto;
  background: linear-gradient(172.7deg, #FFD370 5.12%, #FFD370 53.33%, #FFD370 53.44%, #FFFFFF 53.45%, #FFFFFF 94.32%);
}

.header {
  width: 100%;
  justify-content: space-between;
  padding: 1.6em;
}
.header nav {
  font-size: 1.6em;
}
.header nav p {
  font-weight: 700;
  display: inline-block;
  padding-right: 1.5em;
}
.header nav a {
  font-size: 1rem;
  text-decoration: none;
  color: #333333;
}
.header nav a:hover {
  transition: 0.2s;
  font-weight: 700;
}
@media (max-width: 375px) {
  .header {
    justify-content: space-evenly;
  }
  .header nav p {
    display: none;
  }
}

.main {
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 375px) {
  .main {
    width: 100%;
    padding: 0 1.6em;
  }
}

.todo {
  font-size: 1.6em;
  position: relative;
  padding-bottom: 1.6em;
  width: 50%;
  margin: 0 auto;
}
.todo .todo-text {
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  padding: 1.2em;
  border-radius: 0.8em;
}
.todo .todo-submit {
  position: absolute;
  right: 0.5em;
  top: 0.3em;
}
@media (max-width: 375px) {
  .todo {
    width: 100%;
  }
}

.todo-something {
  width: 50%;
  margin: auto;
  font-size: 1.6em;
  background-color: #fff;
  border-radius: 0.8em;
}

.todo-status {
  font-weight: 700;
}
.todo-status li {
  text-align: center;
  width: 33.3%;
  padding: 1em;
  border-bottom: 1px solid #333333;
}

.todo-nothing {
  display: none;
  text-align: center;
}
.todo-nothing p {
  font-size: 1.6em;
  padding-top: 4em;
  padding-bottom: 1em;
}
.todo-nothing img {
  width: 25em;
}

.login-page {
  background: #FFD370;
  color: #333333;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  .login-page {
    flex-direction: column;
    justify-content: center;
  }
}

.login-header {
  text-align: center;
}
.login-header h1 {
  padding-bottom: 1em;
}
@media (max-width: 375px) {
  .login-header h1 {
    padding-bottom: 1.5em;
  }
}
.login-header img {
  width: 30em;
}
.login-header .main-img {
  width: 38em;
}
@media (max-width: 768px) {
  .login-header .main-img {
    display: none;
  }
}

.login-form h2 {
  font-size: 2.4em;
  font-weight: 700;
  padding-bottom: 1.5em;
}
@media (max-width: 375px) {
  .login-form h2 {
    text-align: center;
    font-size: 2em;
  }
}
@media (max-width: 375px) {
  .login-form {
    width: 80%;
  }
}

.login-info {
  font-size: 1.4em;
  font-weight: 700;
}
.login-info li {
  padding-bottom: 2em;
}
.login-info p {
  padding-bottom: 0.5em;
}
.login-info input {
  width: 100%;
  padding: 1em;
  border-radius: 0.8em;
  outline: none;
  border: none;
}

.action-buttons {
  text-align: center;
}
.action-buttons .login-btn {
  font-size: 1em;
  font-weight: 700;
  width: 40%;
  background-color: #333333;
  color: #fff;
  cursor: pointer;
}
.action-buttons .login-btn:hover {
  background-color: #222;
  font-weight: 900;
  transition: 0.2s;
}
.action-buttons a {
  text-decoration: none;
  color: #333333;
}
.action-buttons a:hover {
  font-weight: 900;
  transition: 0.2s;
}

.error-message {
  color: #D87355;
}/*# sourceMappingURL=all.css.map */